.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  .options {
    display: flex;
    justify-content: center;
    align-items: center;

    .option {
      margin-left: 40px;
      cursor: pointer;
    }
  }
}